@import './node_modules/@endereco/js-sdk/themes/default-theme.scss';

.woocommerce-input-wrapper {
	position: relative;
}

div.endereco-modal__footer>button {
	display: inline-block;
	text-align: center;
	word-break: break-word;
	background-color: var(--wp--preset--color--primary);
	color: #fff;
	border: 1px solid var(--wp--preset--color--black);
	padding: 1rem 0.5em;
	margin-top: 1rem;
	text-decoration: none;
	font-size: medium;
	cursor: pointer;
}

.endereco-address-predictions__label {
	width: 100%;
	padding-left: 60px !important;
}

.endereco-s--email_not_correct>input,
.endereco-s--phone_format_needs_correction>input,
.endereco-s--locality_needs_correction>input,
.endereco-s--postal_code_needs_correction>input,
.endereco-s--street_full_needs_correction>input,
.endereco-s--phone_invalid>input,
.endereco-s--first_name_needs_correction>input,
.endereco-s--last_name_needs_correction>input
{
	background-color: indianred;
}

.endereco-s--email_correct>input,
.endereco-s--phone_correct>input,
.endereco-s--locality_correct>input,
.endereco-s--postal_code_correct>input,
.endereco-s--street_full_correct>input,
.endereco-s--phone_correct>input,
.endereco-s--first_name_correct>input,
.endereco-s--last_name_correct>input
{
	background-color: lightgreen;
}